<!-- padding ka issue aaega and div align ka bhi-->
<!--Solve it using width:100% or display:flex;flex-direction:column;align-item:center-->
*<div class="time-line"> 

    <div class="timeline-samay">

    </div>

    <div class="timeline-icon">

    </div>

    <div class="timeline-temp">

    </div>    

</div>