<div class="forecast-card-wrapper">
    
    <div class="date"> 
    </div>
    
    <div class="icon"> 
    </div>

    <div class="weather-desp">
    </div>

    <div class="degree-wrapper">
    
        <div class="max-degree">
        </div>

        <div class="min-degree">
        </div>

    </div>

</div>