/* icons ka color scheme check karna hai s(pecially rain drops color)*/
/* icons ke container ka size bhi set karna hai */

html, body {
  height: auto;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}

body {
    color: white;
    font-family: "Poppins";
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}
body::-webkit-scrollbar { 
  display: none;  
}
.morning {
  background: linear-gradient(315deg, #0093E9 0%, #80D0C7 100%);
}

.night {
  background: linear-gradient(315deg, #242324 20%, #4d4f50 100%);
}
/*----Glass Effect----*/
.glass-effect-container {
  width: 100%;
  height: 100%;
  margin: auto;
}

.glass-effect {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.25);
}

/*----- NAVBAR Designing -----*/
#navabar-effect {
  width: unset;
  margin: 20px 25px 0px 30px;
}
.navbar-wrapper {
  display: flex;
  flex-direction: row;
  align-items:center;
}

.logo-wrapper {
  height: 100%;
  width: 20%;
  max-width: max-content;
  overflow: hidden;  
  padding-top: 10px;
  padding-left: 10px;
}
.logo-wrapper img {
  align-items: left;
  width: 60%;
  height: fit-content;
  object-fit: contain;
  margin-left: 10px;
}
.search-bar-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.search-bar-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  padding: 5px;
  margin-bottom: 10px;
  background-color: transparent; /* Set initial background color */
   /* Add transition effect */
}
 .search-bar-wrapper{
    position: relative;
    display: flex;
    align-items: center;
    padding: 5px;
    margin-bottom:10px;
} 
 .search-icon{
    margin-right: 15px;
    font-size: 24px;
} 
::placeholder {
    color: rgb(255, 255, 255);
    opacity: 1; /* Firefox */
  }
.search-input {
  /*add font style and correct font-size 
    add media query to handle responsive nature of width */
  padding: 10px;
  width: 875px;
  border: none;
  border-bottom: 3px solid gray;
  background-color: transparent;
  outline: none;
  color: rgb(255, 255, 255);
  line-height: 2;
  font-size: 20px;
  transition: border-bottom 0.3s ease;
}
.search-input:focus {
    border-bottom: 3px solid #FFFAFA; /* Change background color on hover */ 
  }

.suggestions {
  width: 96%;
  padding: 12px;
  color: black;
  font-size: 26px;
  display: none !important;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: hidden;
  cursor: pointer;
  z-index: 98;
}

/*------- MAIN SECTION -------*/
.body-wrapper {
  align-items: center;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto;
  column-gap: 60px;
  row-gap: 20px;
  height: auto;
  padding: 30px;
}
#first-grid-div {
  grid-column: 2 / span 1;
  grid-row: 1 / span 2;
}
.temperature-wrapper {
  /*background-color: aquamarine;*/
}
/*----Weather Icon-----*/
.temp-degree, .temp-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*background-color: rgb(121, 172, 242);*/
}
#temp-area-name {
  padding-top: 15px;
  font-size: 38px;
}
#temp-value {
  font-size: 105px;
}
#temp-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#temp-icon img {
  width: 30%;
  height: auto;
  object-fit: contain;
}
#temp-description{
  font-size: 28px;
  padding: 10px 0px;
}
/*----Weather Details------*/
.break{
  display: none;
}
.time-line-wrapper{
  margin:0;
}
.temp-usp {
  padding: 10px 40px;
  font-size: 25px;
}
.additional-info {
  display: flex;
  flex-direction: column;
}
.temp-usp-desc {
  padding-top: 10px;
  font-size: 25px;
  text-transform: capitalize;
  text-align: center;
}
.additional-info ul {
  /* *border-top: 10px solid black; */
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: repeat(2, auto); 
  gap: 10px; 
  padding: 0;
  list-style: none; 
  list-style-type: none;
}

.usp-info{
  padding: 10px;
}

/*-----timeline-----*/
#Second-grid-div {
  height: auto;
}
.time-line-wrapper {
  margin: 15px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 10px;
}
.time-line {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 15px 10px 20px;
  font-size: clamp(1.25rem, 0.6452rem + 1.2903vw, 1.5rem);
  color: rgb(255, 255, 255);
  font-weight: 600;
  flex:1;
  max-width: calc(12.5% - 5px);
  margin: auto auto;
}
.timeline-icon img {
  width: 100%;
  height: auto;
}

.timeline-time,
.timeline-icon,
.timeline-temp {
  margin: 10px;
}
/*--- 5-day forecast cards ----*/
#heading-weather-forecast {
  padding-left: 15px;
  height: fit-content;
  width: 100%;
  font-size: 40px;
  font-weight: 500;
  line-height: 2;
}
.day-climate-wrapper {
  column-gap: 15px;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  color: white;
}
.forecast-card-wrapper {
  /* min-width: 210px; */
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#forecast-icon {
  text-align: center;
}
#forecast-icon img {
  width: 20%;
  height: auto;
}
.degree-wrapper {
  display: flex;
  flex-direction: row;
  padding: 5px;
}
.max-min-degree br {
  display: none;
}
.weather-desp {
  text-transform: capitalize;
  text-align: center;
}
/*---media for bigger screens---*/
@media screen and (max-width:3000px) and (min-height:1645px){
  body{
    height: 100%;
  }
}
/*----media query for width 1650px just adjustment*/
@media screen and (min-width:1400px) and  (max-width:1645px){
  .time-line-wrapper{
    margin: auto;
  }
  .time-line{
    padding:10px 10px 10px 15px;
  }
  #degree-hide{display: none;}
  .max-min-degree br {display: none;}
}
/*---media  query for smaller view -----------*/
@media screen and (min-width: 1060px) and (max-width: 1460px){ 
  .body-wrapper{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    } 
    .navbar-wrapper{
      gap: 20px;
    }
    .search-bar-wrapper,.search-input{
      width: 100%;
    }
    .search-bar-wrapper form{
      width: 80%;
    }
    .temp-degree{
      padding: 10px;
      flex-direction: row;
      justify-content:space-around;
    }
    .time-line-wrapper{
      margin: auto;
    }
    .time-line{
      padding:10px 10px 10px 15px;
    }
    #temp-value{
      font-size: clamp(4.375rem, -1.5875rem + 9vw, 6.625rem);
    }
    #temp-area-name{
      font-size: clamp(1.5625rem, -0.9219rem + 3.75vw, 2.5rem);
    }
    #degree-hide{
      display: none;
    }
    #Second-grid-div,.time-line-wrapper{
      min-width:970px;
      /* overflow:scroll; */
    }
    #heading-weather-forecast{
      font-size: xx-large;
    }
    #usp-li-1{display: none;}
  }

@media screen and (min-width:750px) and (max-width:1060px){
  .body-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  } 
  .logo-wrapper img{ width: 80%;}
  .navbar-wrapper{
    gap: 30px;
  }
  .search-bar-wrapper,.search-input{
    width: 100%;
  }
  .search-bar-wrapper form{  
    width: 80%;  
  }
  .temp-name{  
    min-width: 110px;
  }
  .break{  
    display: block;  
  }
  #temp-area-name,#temp-value{ 
    font-size: clamp(2.1875rem, -0.0806rem + 4.8387vw, 3.125rem);  
  }
  #temp-description{
    font-size: clamp(1.25rem, 0.0403rem + 2.5806vw, 1.75rem);
  }
  .usp-info{   
    font-size: 18px;  
  }
  .additional-info ul{    
    gap: 5px; 
  }
  .temp-degree{
    padding: 10px;
    flex-direction: row;
    justify-content:space-around;
  }
  .time-line-wrapper{ margin: auto;  }
  .time-line{
    padding:10px;
    min-width: 80px;
  }
  #degree-hide{ 
    display: none; 
  }
  .time-line-wrapper{
    overflow-x: scroll; 
  }
  .time-line-wrapper::-webkit-scrollbar { 
    display: none;  
  }
  #heading-weather-forecast{  
    font-size: xx-large; 
  }
  .day-climate-wrapper{ 
    font-size: clamp(0.625rem, -0.5847rem + 2.5806vw, 1.125rem); 
  }
  .max-min-degree br { display: none;}
}

@media screen and (min-width:320px) and (max-width:750px){
  #navabar-effect{
  background: none;
  backdrop-filter: unset;
  border-radius: unset;
  border: none;
  box-shadow: none;
  padding: 10px;
  }
  .navbar-wrapper{
    height: 80px;
    gap: 20px;
  }
  .logo-wrapper{padding:0px;width:30%; }
  .logo-wrapper img{
    margin: 0px;
    height: 90%;
    width: 80%;
  }
  .search-input{ font-size:clamp(0.625rem, 0.1599rem + 2.3256vw, 1.25rem);}
  .body-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  } 
  .search-bar-wrapper,.search-input{width: 100%;}
  .search-bar-wrapper form{ width: 80%;}
  /*main card*/
  .temp-degree{
    padding: 0px;
    display: grid;
    align-items:end;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }
  .temp-usp-desc{font-size: clamp(0.75rem, 0.3779rem + 1.8605vw, 1.25rem); }
  .temp-name{font-size: clamp(0.625rem, 0.1875rem + 2vw, 1.125rem); }
  #temp-icon{font-size: clamp(0.625rem, 0.1875rem + 2vw, 1.125rem); }
  #temp-icon img{width: 42%;}
  #temp-description{
    font-size: clamp(0.625rem, 0.2529rem + 1.8605vw, 1.125rem);
    align-items: center;
    grid-row: 2;
    grid-column: span 2;
    padding: 10px 20px;
  }
  .temp-usp{padding: 0;}
  #temp-area-name{
    padding-left: 5px;
    font-size: 22px;
  }
  #temp-value{
    font-size:30px;}
  .usp-info{
    font-size: 11px;
    padding: 0px 10px;
  }
  .additional-info ul{
    gap: 5px;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
  }
  #usp-li{display: none;}
  #usp-li-1{display:block;}
  .max-min-degree br { display: block; }
  
  /*5-day-timeline*/
  #timeline-glass-effect{
    margin:10px 0px;
  }
  .time-line-wrapper{
    margin: auto;
  }
  .time-line{
    padding:10px;
    min-width: 80px;
  }
  #degree-hide{
    display: none;
  }
  .time-line-wrapper{
    /* min-width:970px; */
    overflow-x: scroll;
  }
  .time-line-wrapper::-webkit-scrollbar {
    display: none;
  }
  #heading-weather-forecast{
    padding-left: 20px;
    font-size: 22px;
    text-align: center;
    color: #ffffff;
  }
  .day-climate-wrapper{
    font-size: clamp(0.625rem, -0.5847rem + 2.5806vw, 1.125rem);
    flex-direction: column;
  }
  .forecast-card-wrapper{
    flex-direction: row;
  }
  .date,.weather-desp,.degree-wrapper{flex: 1;}
  #forecast-icon{width: fit-content;
    flex: 2;
  }
}