/* icons ka color scheme check karna hai s(pecially rain drops color)*/
/* icons ke container ka size bhi set karna hai */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
    color: white;
    font-family: "Poppins";
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.morning {
  background: linear-gradient(315deg, #0093E9 0%, #80D0C7 100%);
}

.night {
  background: linear-gradient(315deg, #242324 20%, #4d4f50 100%);
}
/*----Glass Effect----*/
.glass-effect-container {
  width: 100%;
  height: 100%;
  margin: auto;
}

.glass-effect {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.25);
}

/*----- NAVBAR Designing -----*/
#navabar-effect {
  width: unset;
  margin: 20px 25px 0px 30px;
}
.navbar-wrapper {
  display: flex;
  flex-direction: row;
}

.logo-wrapper {
  height: 100%;
  width: auto;
  overflow: hidden;  
  padding-top: 10px;
  padding-left: 10px;
}
.logo-wrapper img {
  align-items: left;
  width: 95%;
  height: fit-content;
  object-fit: contain;
  margin-left: 10px;
}
.search-bar-container {
  display: flex;
  height: 185px;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.search-bar-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  padding: 5px;
  margin-bottom: 10px;
  background-color: transparent; /* Set initial background color */
   /* Add transition effect */
}
 .search-bar-wrapper{
    position: relative;
    display: flex;
    align-items: center;
    padding: 5px;
    margin-bottom:10px;
} 
 .search-icon{
    margin-right: 15px;
    font-size: 24px;
} 
::placeholder {
    color: rgb(255, 255, 255);
    opacity: 1; /* Firefox */
  }
.search-input {
  /*add font style and correct font-size 
    add media query to handle responsive nature of width */
  padding: 10px;
  width: 875px;
  border: none;
  border-bottom: 3px solid gray;
  background-color: transparent;
  outline: none;
  color: rgb(255, 255, 255);
  line-height: 2;
  font-size: 20px;
  transition: border-bottom 0.3s ease;
}
.search-input:focus {
    border-bottom: 3px solid #FFFAFA; /* Change background color on hover */ 
  }

.suggestions {
  width: 96%;
  padding: 12px;
  color: black;
  font-size: 26px;
  display: none;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: hidden;
  cursor: pointer;
  z-index: 98;
}

/*------- MAIN SECTION -------*/
.body-wrapper {
  align-items: center;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto;
  column-gap: 60px;
  row-gap: 20px;
  height: auto;
  padding: 30px;
}
#first-grid-div {
  grid-column: 2 / span 1;
  grid-row: 1 / span 2;
}
.temperature-wrapper {
  /*background-color: aquamarine;*/
}
/*----Weather Icon-----*/
.temp-degree, .temp-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*background-color: rgb(121, 172, 242);*/
}
#temp-area-name {
  padding-top: 15px;
  font-size: 38px;
}
#temp-value {
  font-size: 105px;
}
#temp-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#temp-icon img {
  width: 30%;
  height: auto;
  object-fit: contain;
}
#temp-description{
  font-size: 28px;
}
/*----Weather Details------*/
.temp-usp {
  padding: 10px 40px;
  font-size: 25px;
}
.additional-info {
  display: flex;
  flex-direction: column;
}
.temp-usp-desc {
  font-size: 25px;
  text-transform: capitalize;
  text-align: center;
}
.additional-info ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: repeat(2, auto); 
  gap: 10px; 
  padding: 0;
  list-style: none; 
  list-style-type: none;
}

/*-----timeline-----*/
#Second-grid-div {
  height: auto;
}
.time-line-wrapper {
  margin: 15px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 10px;
}
.time-line {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 15px 10px 20px;
  font-size: 24px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  flex:1;
  max-width: calc(12.5% - 5px);
  margin: 5px;
}
.timeline-icon img {
  width: 100%;
  height: auto;
}

.timeline-time,
.timeline-icon,
.timeline-temp {
  margin: 10px;
}
/*--- 5-day forecast cards ----*/
.day-climate-container {
}
#heading-weather-forecast {
  padding-left: 15px;
  height: fit-content;
  width: 100%;
  font-size: 20px;
  line-height: 2;
}
.day-climate-wrapper {
  column-gap: 15px;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  color: white;
}
.forecast-card-wrapper {
  /* min-width: 210px; */
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#forecast-icon {
  text-align: center;
}
#forecast-icon img {
  width: 20%;
  height: auto;
}
.degree-wrapper {
  display: flex;
  flex-direction: row;
  padding: 5px;
}
.max-min-degree {
  /*padding-right: 20px;*/
}

.weather-desp {
  text-transform: capitalize;
  text-align: center;
}

/*----media query for width 1650px just adjustment*/
@media screen and (min-width:1400px) and  (max-width:1645px){
  .time-line-wrapper{
    margin: auto;
  }
  .time-line{
    padding:10px 10px 10px 15px;
  }
  #degree-hide{
    display: none;
  }
}
/*---media  query for smaller view -----------*/
@media screen /*and (min-width: 750px)*/ and (max-width: 1460px){
    .body-wrapper{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    } 
    .temp-degree{
      flex-direction: row;
      justify-content:space-between;
    }
    .temp-name{
      flex-direction: column;
      
    }
    #Second-grid-div,.time-line-wrapper{
      min-width:970px;
      /* overflow:scroll; */
    }
  }